<div class="container">
    <img src="{{manga.cover}}" alt="{{manga.name}}">
    <div class="info">
        <span><b>Title : </b>{{manga.name}}</span>
        <span><b>Volume : </b>{{manga.volume}}</span>
        <span><b>Abstract : </b><p>{{manga.resume}}</p></span>
    </div>
</div>
<a id="link" href="../manga/">Back</a>
